<div class="bm theme_con">
  <div class="theme_nav">
	<a href="forum.php?view=newthread" id="daodu-btn-newthread" class="theme_nav_list" onclick="_hmt.push(['_trackEvent', 'bbs首页', '最新主题button', '']);_msq.push(['trackEvent', 'new','','mibbis_c']);">最新主题</a>
	<a href="forum.php?view=new" id="daodu-btn-new" class="theme_nav_list" onclick="_hmt.push(['_trackEvent', 'bbs首页', '内容区', '推荐button']);_msq.push(['trackEvent', 'tj','','mibbis_c']);">最新回复</a>
	<a onclick="showWindow('nav', this.href, 'get', 0)" href="forum.php?mod=misc&amp;action=nav" class="mwt-btn mwt-btn-primary" style="font-size:12px;float:right;width:104px;"><i class="icon icon-ask" style="font-size:15px;vertical-align:text-bottom;"></i> 发表新主题</a>
  </div>
  <div id="daodu_threads_div"></div>
</div>
